In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('age_of_marriage_data.csv')
data.head()

,id,gender,height,religion,caste,mother_tongue,profession,location,country,age_of_marriage
0,1,female,"5'4""",NaN,others,Telugu,NaN,London,United Kingdom,21.0
1,2,male,"5'7""",Jain,Shwetamber,Gujarati,Doctor / Healthcare Professional,Fairfax- VA,USA,32.0
2,3,male,"5'7""",Hindu,Brahmin,Hindi,Entrepreneurs / Business,Begusarai,India,32.0
3,4,female,"5'0""",Hindu,Thakur,Hindi,Architect,Mumbai,India,30.0
4,5,male,"5'5""",Christian,Born Again,Malayalam,Sales Professional / Marketing,Sulthan Bathery,India,30.0

In [3]:
data.shape

(2567, 10)

In [4]:
data.isnull().sum()

id                   0
gender              29
height             118
religion           635
caste              142
mother_tongue      164
profession         330
location           155
country             16
age_of_marriage     19
dtype: int64

In [5]:
data.gender.value_counts()

male      1338
female    1200
Name: gender, dtype: int64

In [6]:
data.height.value_counts()

5'6"     229
5'3"     229
5'5"     226
5'4"     216
5'2"     212
5'7"     212
5'8"     188
5'0"     160
5'9"     135
5'1"     131
5'11"    117
5'10"    103
4'5"      83
6'0"      61
4'11"     31
4'6"      21
6'1"      19
4'10"     18
4'7"      16
4'9"      11
4'8"      11
6'2"       8
7'0"       4
6'4"       2
6'3"       2
6'5"       2
6'8"       1
6'10"      1
Name: height, dtype: int64

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2567 entries, 0 to 2566
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               2567 non-null   int64
 1   gender           2538 non-null   object
 2   height           2449 non-null   object
 3   religion         1932 non-null   object
 4   caste            2425 non-null   object
 5   mother_tongue    2403 non-null   object
 6   profession       2237 non-null   object
 7   location         2412 non-null   object
 8   country          2551 non-null   object
 9   age_of_marriage  2548 non-null   float64
dtypes: float64(1), int64(1), object(8)
memory usage: 200.7+ KB

In [8]:
data.dropna(inplace=True)

In [9]:
data.drop('id', axis=1, inplace=True)

In [10]:
data.shape

(1932, 9)

In [11]:
data.columns

Index(['gender', 'height', 'religion', 'caste', 'mother_tongue', 'profession',
       'location', 'country', 'age_of_marriage'],
      dtype='object')

In [12]:
cols = ['gender', 'religion', 'caste', 'mother_tongue', 'country']

In [13]:
X = data.drop(['profession', 'age_of_marriage', 'location',], axis=1)

In [14]:
Y = data.age_of_marriage

In [15]:
from sklearn.preprocessing import LabelEncoder

In [16]:
lb = LabelEncoder()

In [17]:
X.loc[:,cols] = X.loc[:,cols].apply(lb.fit_transform)

In [18]:
X.head()

  gender height religion caste mother_tongue country
1      1   5'7"        2    34             6      19
2      1   5'7"        1    14             8       5
3      0   5'0"        1    36             8       5
4      1   5'5"        0    13            13       5
5      1   5'5"        1    38             8       5

## We have to Convert Feet to Cm as height is string value

In [19]:
X.loc[1, 'height'].split('\'')

['5', '7"']

1 feet = 30.48cm
1 inch = 2.54cm

In [20]:
int(X.loc[1, 'height'].split('\'')[0])*30.48

152.4

In [21]:
b = (X.loc[1, 'height'].split('\'')[1]).split('"')[0]
int(b)*2.54

17.78

In [22]:
int(X.loc[1, 'height'].split('\'')[0])*30.48 + int((X.loc[1, 'height'].split('\'')[1]).split('"')[0])*2.54

170.18

In [23]:
def feet_to_cm(x):
    sum = int(x.split('\'')[0])*30.48 + int((x.split('\'')[1]).split('"')[0])*2.54
    return sum

In [24]:
X['Height_CM'] = X.height.apply(feet_to_cm)

In [25]:
X.head()

  gender height religion caste mother_tongue country  Height_CM
1      1   5'7"        2    34             6      19     170.18
2      1   5'7"        1    14             8       5     170.18
3      0   5'0"        1    36             8       5     152.40
4      1   5'5"        0    13            13       5     165.10
5      1   5'5"        1    38             8       5     165.10

In [26]:
X.drop('height', axis=1, inplace=True)

In [27]:
X.head()

  gender religion caste mother_tongue country  Height_CM
1      1        2    34             6      19     170.18
2      1        1    14             8       5     170.18
3      0        1    36             8       5     152.40
4      1        0    13            13       5     165.10
5      1        1    38             8       5     165.10

In [28]:
from sklearn.ensemble import RandomForestRegressor

In [29]:
from sklearn.model_selection import train_test_split

In [30]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=0)

In [31]:
model = RandomForestRegressor(n_estimators=200,max_depth=11,random_state=0)

In [32]:
model.fit(X_train, Y_train)

RandomForestRegressor(max_depth=11, n_estimators=200, random_state=0)

In [33]:
Y_pred = model.predict(X_test)

In [34]:
from sklearn.metrics import mean_absolute_error, r2_score

In [35]:
r2_score(Y_test, Y_pred)

0.7010503964744033

In [36]:
mean_absolute_error(Y_test, Y_pred)

1.0299559212532599

In [37]:
import joblib

In [40]:
joblib.dump(model, 'marriage_age_predictor.pkl')

['marriage_age_predictor.pkl']